!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %h1 Website Contact
    %p This visitor requested contact:
    %p #{@contact.name} (#{@contact.email}) sent this message using the online form at #{@contact.time} on #{@contact.date}:
    %p
      =@contact.content
