%h3 Home
%p Welcome to the home of #{@owner.name}.
%p I was born on #{@owner.birthdate}.
%p Only #{@owner.countdown} days until my next birthday!
- Rails.logger.info "\033[1;34;40m[INFO]\033[0m " + 'finished rendering new.html.haml'
