- content_for :title do
  About
%h3 About Sam Philip
%p Sam Philip is a hotshot rails programmer with a razor sharp mind. He is frank and forthright and will often give advice that you may not want to hear, but is a man of deep integrity and will put forth an honest effort to achieve goals the best possible way he knows.
%p His favourite quote is:
%p "The best time to plant a seed was 20 years ago. The second best time is right now."
